.rex-etsy-api-setting__option-tab {
  .rex-etsy-api-settings__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    padding-bottom: 0.8em;
    color: #3c3e4a;
    text-transform: capitalize;
  }
  .rex-etsy-api-setting__option-tab-content {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
    .rex-etsy-api-setting__clear-merchant {
      width: calc(100% / 2 - 20px);
      position: relative;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 20px;
      margin: 20px 0 0 20px;
      border-radius: 5px;
      background: #fff;
      .rex-show-product-wrapper__title {
        width: calc(100% - 60px);
        font-size: 15px;
        color: #363b4e;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        min-height: 21px;
        display: block;
        padding-right: 10px;
        margin-bottom: 0;
        text-transform: capitalize;
      }
      button.btn-red {
        border: 1px solid red;
        background: transparent;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
  .rex-show-product__sending-data-row {
    margin: 30px 0 0 20px;
  }
}
